<!--
  Generated template for the StatisticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>statistics</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row *ngIf="loading" align-items-center text-center>
    <ion-col col-12>
      <ion-spinner name="circles"></ion-spinner>
    </ion-col>
  </ion-row>

  <div class="row" *ngIf="!loading">
    <div class="col-md-12">
      <div style="display: block;">
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="ChartOptions" [legend]="true" width="width"
          height="400" [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

  <ion-row>
    <ion-col col-4>
      <button ion-button block (click)="chartType ='radar'">Radar</button>
    </ion-col>
    <ion-col col-4>
      <button ion-button block (click)="chartType ='polarArea'">polar Area</button>
    </ion-col>
    <ion-col col-4>
      <button ion-button block (click)="chartType ='doughnut'">Daughnats</button>
    </ion-col>
  </ion-row>
</ion-content>