page-daily-expense {
    .list-action {
        font-size: 30px; //Preferred size here
    
    }

      
    .slide12 {
        left : 10%;
        position: absolute;
        font-size: 150%;
        -webkit-animation: slide12 1s linear forwards infinite;
        -webkit-animation-delay: 0.5s;
        animation: slide12 1s linear forwards infinite;
        animation-delay: 0.5s;
    }

    .slide-right {
        position: absolute;
        left: 80%;
        font-size: 150%;    
        -webkit-animation: slide-right 1s linear forwards infinite;
        -webkit-animation-delay: 0.5s; 
        animation: slide-right 1s linear forwards infinite;
        animation-delay: 0.5s;
    }

    
    @-webkit-keyframes slide12 {
        0% {  -webkit-transform: translate3d(40%,0,0);}
        100% {  -webkit-transform: translate3d(-100%,0,0);}

    }   

    @keyframes slide12 {
        0% {  transform: translate3d(40%,0,0);}
        100% { transform: translate3d(-100%,0,0);}

    }   

    @-webkit-keyframes slide-right {
        0% {  -webkit-transform: translate3d(-100%,0,0);}
        100% {  -webkit-transform: translate3d(40%,0,0);}

    }   

    @keyframes slide-right {
        0% {  transform: translate3d(-100%,0,0);}
        100% { transform: translate3d(40%,0,0);}

    } 
}
