<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Balance</ion-label>
        <ion-input type="number" [(ngModel)]="appSettings.balance"></ion-input>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label floating>First Day </ion-label>
        <ion-select [(ngModel)]="appSettings.first_day" multiple="false" interface="popover">
          <ion-option *ngFor="let day of days" [value]="day.index">{{day.name}}</ion-option>
        </ion-select>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label floating>Language</ion-label>
        <ion-select [(ngModel)]="appSettings.language" multiple="false" interface="popover">
          <ion-option *ngFor="let lang of languages" [value]="lang.value">{{lang.name}}</ion-option>
        </ion-select>
      </ion-item>
      <hr>
     <div >
        <button ion-button  block (click)="save()" margin-top >Save</button>
     </div>
      
    </ion-card-content>
  </ion-card>


 

</ion-content>