<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating >Balance</ion-label>
        <ion-input type="number" [(ngModel)]="appSettings.balance"></ion-input>
      </ion-item>
      <hr>
   <!--    <ion-item>
        <ion-label floating>First Day </ion-label>
        <ion-select [(ngModel)]="appSettings.first_day" multiple="false" interface="popover">
          <ion-option *ngFor="let day of days" [value]="day.index">{{day.name}}</ion-option>
        </ion-select>
      </ion-item>
      <hr> -->
      <ion-item>
        <ion-label floating>Language</ion-label>
        <ion-select [(ngModel)]="appSettings.language" multiple="false" interface="popover">
          <ion-option *ngFor="let lang of languages" [value]="lang.value">{{lang.name}}</ion-option>
        </ion-select>
      </ion-item>
      <hr>
      <ion-item>
        <ion-label floating>Notifications</ion-label>
        <ion-select [(ngModel)]="appSettings.notification" multiple="false" interface="popover">
          <ion-option value=0>Off</ion-option>
          <ion-option value=1>every day</ion-option>
          <ion-option value=2>every 2 days</ion-option>
          <ion-option value=3>every 3 days</ion-option>
          <ion-option value=7>every week</ion-option>
        </ion-select>
      </ion-item>
      <hr>
      <ion-item (click)= "backup()">
        Backup Database 
      </ion-item>
      <hr>
      <ion-item (click)= "restore()">
        Restore Database 
      </ion-item>
       <hr>
      <ion-item (click)= "reset()">
        Remove Database 
      </ion-item>
    
      <ion-item *ngIf="loading">
        <ion-row  align-items-center text-center>
          <ion-col col-12>
            <ion-spinner name="circles"></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-item>
     <div >
        <button ion-button  block (click)="save()" margin-top >Save</button>
     </div>
      
    </ion-card-content>
  </ion-card>


 

</ion-content>