// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.exit-btn{
  color: color($colors,'danger');
}

.ion-spinner {
  height: 22px;
  width:22px;
  stroke: rgb(178, 209, 2);
  fill: rgb(218, 201, 50);
}

.btn-gold {
    background: url('../assets/img/btnGold.png') transparent;
    background-size: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    font-weight: bold;
    color: #dbc923;
    background-color: transparent;
  }

  .btn-silver {
    background: url('../assets/img/btnSilver.png') transparent;
    background-size: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    font-weight: bold;
    font-weight: bold;
    color: #dbc923;
    background-color: transparent;
  }

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

