<ion-header>
  <ion-navbar>
      <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{'HOME'|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="crd-header" text-center>
      <div>
        {{'SUMMERY'|translate}}
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div text-center>
              <h3 padding-top>{{'DAILY'|translate}}</h3>
              <hr>
              <ion-label class="small-text">{{daily.spent+' / '+daily.total.toFixed(2)}}</ion-label>
              <circle-progress *ngIf="daily" [percent]="daily.percent" [radius]="(width/6)-16" [outerStrokeWidth]="4"
                [innerStrokeWidth]="2" [outerStrokeColor]="daily.getColor()" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="300" (click)="showDayStatistics()"></circle-progress>

            </div>
          </ion-col>
          <ion-col col-4>
            <div text-center>
              <h3 padding-top>{{'WEEKLY'|translate}}</h3>
              <hr>
              <ion-label class="small-text">{{weekly.spent+' / '+weekly.total.toFixed(2)}}</ion-label>
              <circle-progress *ngIf="weekly" [percent]="weekly.percent" [radius]="(width/6)-16" [outerStrokeWidth]="4"
                [innerStrokeWidth]="2" [outerStrokeColor]="weekly.getColor()" [innerStrokeColor]="'#C7E596'"
                [animation]="true"  (click)="showWeekStatistics()" [animationDuration]="300"></circle-progress>
            </div>
          </ion-col>
          <ion-col col-4>
            <div text-center>
              <h3 padding-top> {{'MONTHLY'|translate}}</h3>
              <hr>
              <ion-label class="small-text">{{monthly.spent+' / '+monthly.total}}</ion-label>
              <circle-progress *ngIf="monthly" [percent]="monthly.percent" [radius]="(width/6)-16" [outerStrokeWidth]="4"
                [innerStrokeWidth]="2" [outerStrokeColor]="monthly.getColor()" [innerStrokeColor]="'#C7E596'"
                [animation]="true" (click)="showMonthStatistics()" [animationDuration]="300"></circle-progress>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

<br>
  <ion-card>
    <ion-card-header class="crd-header" text-center>
      <div>
        {{'QUICK_ACCESS'|translate}}
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div text-center (click)="showCategories()">
              <ion-icon class="list-icon" name="apps"></ion-icon>
              <p>{{'CATEGORIES'|translate}}</p>
            </div>
          </ion-col>
          <ion-col col-4>
            <div text-center (click)="showAdd(false)">
              <ion-icon class="income-icon" name="arrow-down"></ion-icon>
              <p>{{'ADD_INCOME'|translate}}</p>
            </div>
          </ion-col>
          <ion-col col-4>
            <div text-center (click)="showAdd(true)">
              <ion-icon class="expense-icon" name="arrow-up"></ion-icon>
              <p>{{'ADD_EXPENSE'|translate}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>