page-content {
    .crd-header{
        background-color: color($colors,'primary');
        color: whitesmoke;
        font-size: 90%;
        padding: 8px;
    }

    .list-icon {
        font-size: 60px; //Preferred size here
        color: color($colors,light);
    }

    .income-icon {
        font-size: 60px; //Preferred size here
        color: color($colors,secondary);
    }


    .expense-icon {
        font-size: 60px; //Preferred size here
        color: color($colors,danger);
    }
    .small-text{
        font-size: 80%;
    font-weight: 600;    
    }
}
