<ion-header>
  <ion-navbar>
    <ion-title>{{'CATEGORY_TITLE'|translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCategory()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div padding-bottom>
    <ion-segment color="primary" [(ngModel)]="type">
      <ion-segment-button value="0" (click)="setKind(type)">
        {{'INCOME'|translate}} <ion-icon name="arrow-down" color="secondary"></ion-icon>
      </ion-segment-button>
      <ion-segment-button (click)="setKind(type)" value="1">
        {{'EXPENSE'|translate}} <ion-icon name="arrow-up" color="danger"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-list>

    <ion-grid *ngIf="currentItems && currentItems.length>0 && !this.shownBefore" padding class="swipe-bg" text-center>
      <ion-row>
        <ion-col col-12>
            <img src="assets/img/finger.png" width="40px" height="40px" [ngClass]="{'slide':settings.language==0,'slide-right':settings.language==1}" />
            {{'TUTORIAL_SLIDE2_TITLE'|translate}}
        </ion-col>
      </ion-row>
        
    </ion-grid>
    <ion-item-sliding *ngFor="let item of currentItems">
      <div ion-item >
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-3>
              <ion-icon class="list-icon" (color) ="danger" *ngIf="item.icon && item.icon.indexOf(' ')==-1" [name]="item.icon"></ion-icon>
            </ion-col>
            <ion-col col-9 align-self-center>
              <ion-row>
                <ion-col col-8><b>{{item.name}}</b></ion-col>
                <ion-col col-4 align-items-center>
                  <ion-badge (color)="danger" >{{item.balance}}</ion-badge>
                </ion-col>
              </ion-row>
              <p item-end *ngIf="item.details">{{item.details}}</p>

            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-item-options>
        <button ion-button color="secondary" (click)="editItem(item)">
          <ion-icon class="list-action" name="create"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="deleteItem(item)">
          <ion-icon class="list-action" name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>